<div class="row">
  <div class="col-md-12 col-sm-4">
    <div class="card card-primary animated fadeInUp animation-delay-7">
             <div class="card-header">
               <h3 class="card-title">
                 <i class="zmdi zmdi-apps"></i> Most Popular Posts </h3>
             </div>

             <div class="tab-content">
               <div role="tabpanel" class="tab-pane fade active in" id="favorite">
                 <div class="card-block">
                   <div class="ms-media-list">

                     <div class="media" *ngFor="let popular of posts">
                       <div class="media-left media-middle">
                         <a href="#">
                           <img class="media-object media-object-circle" src="{{popular.featured}}" alt="..."> </a>
                       </div>
                       <div class="media-body">
                         <a [routerLink]="['/post',popular._id]" class="media-heading">{{popular.title}}</a>
                         <div class="media-footer text-small">
                           <span class="mr-1">
                             <i class="zmdi zmdi-time color-info mr-05"></i> {{popular.created_at}}</span>
                           <span>
                             <i class="zmdi zmdi-eye color-success mr-05"></i>
                             <a href="javascript:void(0)">{{popular.views}} views</a>
                           </span>
                         </div>
                       </div>
                     </div>



                   </div>
                 </div>
               </div>



             </div>
           </div>
  </div>
</div>
