<div class="row">
  <div class="col-md-12 col-sm-4">
    <div class="card card-primary animated fadeInUp animation-delay-7">
             <div class="card-header">
               <h3 class="card-title">
                 <i class="zmdi zmdi-apps"></i> Popular Posts      |       Categories</h3>
             </div>
             <div class="card-tabs">
               <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                 <li role="presentation" class="active">
                   <a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab" class="withoutripple">
                     <i class="no-mr zmdi zmdi-star"> </i>
                   </a>
                 </li>
                 <li role="presentation">
                   <a href="#categories" aria-controls="categories" role="tab" data-toggle="tab" class="withoutripple">
                     <i class="no-mr zmdi zmdi-folder"></i>
                   </a>
                 </li>

               </ul>
             </div>
             <div class="tab-content">
               <div role="tabpanel" class="tab-pane fade active in" id="favorite">
                 <div class="card-block">
                   <div class="ms-media-list">

                     <div class="media" *ngFor="let popular of posts">
                       <div class="media-left media-middle">
                         <a href="#">
                           <img class="media-object media-object-circle" src="{{popular.featured}}" alt="..."> </a>
                       </div>
                       <div class="media-body">
                         <a [routerLink]="['/post',popular._id]" class="media-heading">{{popular.title}}</a>
                         <div class="media-footer text-small">
                           <span class="mr-1">
                             <i class="zmdi zmdi-time color-info mr-05"></i> {{popular.created_at}}</span>
                           <span>
                             <i class="zmdi zmdi-eye color-success mr-05"></i>
                             <a href="javascript:void(0)">{{popular.views}} views</a>
                           </span>
                         </div>
                       </div>
                     </div>



                   </div>
                 </div>
               </div>
               <div role="tabpanel" class="tab-pane fade" id="categories">
                 <div class="list-group">
                   <a href="javascript:void(0)" class="list-group-item withripple">
                     <i class=" color-info zmdi zmdi-cocktail"></i>Design
                     <span class="badge badge-info">25</span>
                   </a>
                   <a href="javascript:void(0)" class="list-group-item withripple">
                     <i class=" color-warning zmdi zmdi-collection-image"></i> Graphics
                     <span class="badge badge-warning">14</span>
                   </a>
                   <a href="javascript:void(0)" class="list-group-item withripple">
                     <i class=" color-danger zmdi zmdi-case-check"></i> Productivity
                     <span class="badge badge-danger">7</span>
                   </a>
                   <a href="javascript:void(0)" class="list-group-item withripple">
                     <i class=" color-royal zmdi zmdi-folder-star-alt"></i>Resources
                     <span class="badge badge-royal">67</span>
                   </a>
                   <a href="javascript:void(0)" class="list-group-item withripple">
                     <i class=" color-success zmdi zmdi-play-circle-outline"></i>Multimedia
                     <span class="badge badge-success">32</span>
                   </a>
                 </div>
               </div>


             </div>
           </div>
  </div>
</div>
